In [5]:
import pandas as pd
df = pd.read_csv("EURUSD_Candlestick_1_M_BID_19.01.2023-18.01.2025.csv")
df=df[df['Volume']!=0]
df.reset_index(drop=True, inplace=True)
df.head(10)

                  Gmt time     Open     High      Low    Close  Volume
0  19.01.2023 00:00:00.000  1.07974  1.07977  1.07956  1.07956  143.12
1  19.01.2023 00:01:00.000  1.07957  1.07960  1.07944  1.07949   80.13
2  19.01.2023 00:02:00.000  1.07947  1.07971  1.07946  1.07970   46.52
3  19.01.2023 00:03:00.000  1.07969  1.07973  1.07960  1.07968   58.50
4  19.01.2023 00:04:00.000  1.07966  1.07980  1.07963  1.07980   47.99
5  19.01.2023 00:05:00.000  1.07979  1.07980  1.07970  1.07972   53.40
6  19.01.2023 00:06:00.000  1.07970  1.07970  1.07961  1.07962   56.55
7  19.01.2023 00:07:00.000  1.07962  1.07982  1.07954  1.07955   72.64
8  19.01.2023 00:08:00.000  1.07956  1.07964  1.07951  1.07964   43.81
9  19.01.2023 00:09:00.000  1.07964  1.07964  1.07934  1.07934   77.99

In [6]:
df.tail(10)

                       Gmt time     Open     High      Low    Close  Volume
742353  17.01.2025 21:50:00.000  1.02696  1.02697  1.02692  1.02695   60.75
742354  17.01.2025 21:51:00.000  1.02696  1.02696  1.02694  1.02695   18.00
742355  17.01.2025 21:52:00.000  1.02695  1.02699  1.02693  1.02695   50.85
742356  17.01.2025 21:53:00.000  1.02695  1.02696  1.02690  1.02693   83.43
742357  17.01.2025 21:54:00.000  1.02694  1.02696  1.02693  1.02694   91.35
742358  17.01.2025 21:55:00.000  1.02695  1.02701  1.02694  1.02696  201.15
742359  17.01.2025 21:56:00.000  1.02697  1.02702  1.02690  1.02698  227.70
742360  17.01.2025 21:57:00.000  1.02699  1.02702  1.02693  1.02694   39.15
742361  17.01.2025 21:58:00.000  1.02695  1.02698  1.02690  1.02694  179.73
742362  17.01.2025 21:59:00.000  1.02691  1.02710  1.02681  1.02710   67.50

In [7]:
df['Gmt time'] = pd.to_datetime(df['Gmt time'], format='%d.%m.%Y %H:%M:%S.%f')

# Create a column to mark the start of 5-minute intervals
df['box_start'] = (df['Gmt time'].dt.minute % 5 == 0).astype(int)

In [9]:
df.head(20)

              Gmt time     Open     High      Low    Close  Volume  box_start
0  2023-01-19 00:00:00  1.07974  1.07977  1.07956  1.07956  143.12          1
1  2023-01-19 00:01:00  1.07957  1.07960  1.07944  1.07949   80.13          0
2  2023-01-19 00:02:00  1.07947  1.07971  1.07946  1.07970   46.52          0
3  2023-01-19 00:03:00  1.07969  1.07973  1.07960  1.07968   58.50          0
4  2023-01-19 00:04:00  1.07966  1.07980  1.07963  1.07980   47.99          0
5  2023-01-19 00:05:00  1.07979  1.07980  1.07970  1.07972   53.40          1
6  2023-01-19 00:06:00  1.07970  1.07970  1.07961  1.07962   56.55          0
7  2023-01-19 00:07:00  1.07962  1.07982  1.07954  1.07955   72.64          0
8  2023-01-19 00:08:00  1.07956  1.07964  1.07951  1.07964   43.81          0
9  2023-01-19 00:09:00  1.07964  1.07964  1.07934  1.07934   77.99          0
10 2023-01-19 00:10:00  1.07934  1.07952  1.07934  1.07948   42.09          1
11 2023-01-19 00:11:00  1.07949  1.07960  1.07949  1.07960   35.14          0
12 2023-01-19 00:12:00  1.07959  1.07966  1.07952  1.07952   51.67          0
13 2023-01-19 00:13:00  1.07950  1.07959  1.07949  1.07957   31.94          0
14 2023-01-19 00:14:00  1.07957  1.07972  1.07957  1.07965   53.41          0
15 2023-01-19 00:15:00  1.07965  1.07967  1.07957  1.07960   54.38          1
16 2023-01-19 00:16:00  1.07960  1.07969  1.07959  1.07964   51.28          0
17 2023-01-19 00:17:00  1.07963  1.07972  1.07959  1.07964   33.82          0
18 2023-01-19 00:18:00  1.07966  1.07973  1.07960  1.07966   36.20          0
19 2023-01-19 00:19:00  1.07966  1.07967  1.07949  1.07955   43.72          0

In [10]:
# Create columns for rolling maximum and minimum over the last 5 candles, excluding the current candle
df['max_box'] = df['High'].shift(1).rolling(window=5).max()
df['min_box'] = df['Low'].shift(1).rolling(window=5).min()
df.head(25)

,Gmt time,Open,High,Low,Close,Volume,box_start,max_box,min_box
0,2023-01-19 00:00:00,1.07974,1.07977,1.07956,1.07956,143.12,1,NaN,NaN
1,2023-01-19 00:01:00,1.07957,1.07960,1.07944,1.07949,80.13,0,NaN,NaN
2,2023-01-19 00:02:00,1.07947,1.07971,1.07946,1.07970,46.52,0,NaN,NaN
3,2023-01-19 00:03:00,1.07969,1.07973,1.07960,1.07968,58.50,0,NaN,NaN
4,2023-01-19 00:04:00,1.07966,1.07980,1.07963,1.07980,47.99,0,NaN,NaN
5,2023-01-19 00:05:00,1.07979,1.07980,1.07970,1.07972,53.40,1,1.07980,1.07944
6,2023-01-19 00:06:00,1.07970,1.07970,1.07961,1.07962,56.55,0,1.07980,1.07944
7,2023-01-19 00:07:00,1.07962,1.07982,1.07954,1.07955,72.64,0,1.07980,1.07946
8,2023-01-19 00:08:00,1.07956,1.07964,1.07951,1.07964,43.81,0,1.07982,1.07954
9,2023-01-19 00:09:00,1.07964,1.07964,1.07934,1.07934,77.99,0,1.07982,1.07951
10,2023-01-19 00:10:00,1.07934,1.07952,1.07934,1.07948,42.09,1,1.07982,1.07934
11,2023-01-19 00:11:00,1.07949,1.07960,1.07949,1.07960,35.14,0,1.07982,1.07934
12,2023-01-19 00:12:00,1.07959,1.07966,1.07952,1.07952,51.67,0,1.07982,1.07934
13,2023-01-19 00:13:00,1.07950,1.07959,1.07949,1.07957,31.94,0,1.07966,1.07934
14,2023-01-19 00:14:00,1.07957,1.07972,1.07957,1.07965,53.41,0,1.07966,1.07934
15,2023-01-19 00:15:00,1.07965,1.07967,1.07957,1.07960,54.38,1,1.07972,1.07934
16,2023-01-19 00:16:00,1.07960,1.07969,1.07959,1.07964,51.28,0,1.07972,1.07949
17,2023-01-19 00:17:00,1.07963,1.07972,1.07959,1.07964,33.82,0,1.07972,1.07949
18,2023-01-19 00:18:00,1.07966,1.07973,1.07960,1.07966,36.20,0,1.07972,1.07949
19,2023-01-19 00:19:00,1.07966,1.07967,1.07949,1.07955,43.72,0,1.07973,1.07957
20,2023-01-19 00:20:00,1.07958,1.07967,1.07951,1.07952,36.54,1,1.07973,1.07949
21,2023-01-19 00:21:00,1.07951,1.07951,1.07939,1.07946,44.86,0,1.07973,1.07949
22,2023-01-19 00:22:00,1.07946,1.07946,1.07926,1.07926,36.22,0,1.07973,1.07939
23,2023-01-19 00:23:00,1.07925,1.07927,1.07907,1.07915,57.46,0,1.07973,1.07926
24,2023-01-19 00:24:00,1.07915,1.07920,1.07914,1.07919,57.44,0,1.07967,1.07907

In [12]:
# Set max_5 and min_5 to NaN for rows where 5min_start is 0
df.loc[df['box_start'] == 0, ['max_box', 'min_box']] = None

# Forward fill max_5 and min_5
df['max_box'] = df['max_box'].ffill()
df['min_box'] = df['min_box'].ffill()


df[25:45]

,Gmt time,Open,High,Low,Close,Volume,box_start,max_box,min_box
25,2023-01-19 00:25:00,1.07918,1.07927,1.07908,1.07908,72.89,1,1.07967,1.07907
26,2023-01-19 00:26:00,1.07907,1.07914,1.07898,1.07912,74.69,0,1.07967,1.07907
27,2023-01-19 00:27:00,1.07912,1.07919,1.07904,1.07919,64.24,0,1.07967,1.07907
28,2023-01-19 00:28:00,1.07920,1.07925,1.07920,1.07923,25.51,0,1.07967,1.07907
29,2023-01-19 00:29:00,1.07922,1.07938,1.07918,1.07938,55.01,0,1.07967,1.07907
30,2023-01-19 00:30:00,1.07939,1.07939,1.07912,1.07933,172.40,1,1.07938,1.07898
31,2023-01-19 00:31:00,1.07932,1.07952,1.07929,1.07951,227.61,0,1.07938,1.07898
32,2023-01-19 00:32:00,1.07952,1.07964,1.07951,1.07964,81.01,0,1.07938,1.07898
33,2023-01-19 00:33:00,1.07965,1.07967,1.07954,1.07961,87.14,0,1.07938,1.07898
34,2023-01-19 00:34:00,1.07960,1.07960,1.07939,1.07946,82.74,0,1.07938,1.07898
35,2023-01-19 00:35:00,1.07949,1.07965,1.07944,1.07944,107.48,1,1.07967,1.07912
36,2023-01-19 00:36:00,1.07944,1.07945,1.07937,1.07944,84.30,0,1.07967,1.07912
37,2023-01-19 00:37:00,1.07943,1.07948,1.07932,1.07932,100.60,0,1.07967,1.07912
38,2023-01-19 00:38:00,1.07930,1.07932,1.07918,1.07927,115.57,0,1.07967,1.07912
39,2023-01-19 00:39:00,1.07930,1.07933,1.07905,1.07909,92.13,0,1.07967,1.07912
40,2023-01-19 00:40:00,1.07908,1.07913,1.07889,1.07911,79.56,1,1.07965,1.07905
41,2023-01-19 00:41:00,1.07912,1.07920,1.07900,1.07917,75.91,0,1.07965,1.07905
42,2023-01-19 00:42:00,1.07916,1.07933,1.07910,1.07933,64.19,0,1.07965,1.07905
43,2023-01-19 00:43:00,1.07933,1.07938,1.07923,1.07930,186.33,0,1.07965,1.07905
44,2023-01-19 00:44:00,1.07932,1.07933,1.07913,1.07915,176.92,0,1.07965,1.07905

In [ ]:
df["Break_signal"] =  (df["Close"] > df["max_box"]).astype(int) * 2 + (df["Close"] < df["min_box"]).astype(int)
# 1 for bearish
# 2 for bullish

In [15]:
# Drop rolling NA values
df = df.dropna(subset=['max_box', 'min_box']).reset_index(drop=True)

# Display the updated dataframe
df.head(40)

,Gmt time,Open,High,Low,Close,Volume,box_start,max_box,min_box,Break_signal
0,2023-01-19 00:05:00,1.07979,1.07980,1.07970,1.07972,53.40,1,1.07980,1.07944,0
1,2023-01-19 00:06:00,1.07970,1.07970,1.07961,1.07962,56.55,0,1.07980,1.07944,0
2,2023-01-19 00:07:00,1.07962,1.07982,1.07954,1.07955,72.64,0,1.07980,1.07944,0
3,2023-01-19 00:08:00,1.07956,1.07964,1.07951,1.07964,43.81,0,1.07980,1.07944,0
4,2023-01-19 00:09:00,1.07964,1.07964,1.07934,1.07934,77.99,0,1.07980,1.07944,1
5,2023-01-19 00:10:00,1.07934,1.07952,1.07934,1.07948,42.09,1,1.07982,1.07934,0
6,2023-01-19 00:11:00,1.07949,1.07960,1.07949,1.07960,35.14,0,1.07982,1.07934,0
7,2023-01-19 00:12:00,1.07959,1.07966,1.07952,1.07952,51.67,0,1.07982,1.07934,0
8,2023-01-19 00:13:00,1.07950,1.07959,1.07949,1.07957,31.94,0,1.07982,1.07934,0
9,2023-01-19 00:14:00,1.07957,1.07972,1.07957,1.07965,53.41,0,1.07982,1.07934,0
10,2023-01-19 00:15:00,1.07965,1.07967,1.07957,1.07960,54.38,1,1.07972,1.07934,0
11,2023-01-19 00:16:00,1.07960,1.07969,1.07959,1.07964,51.28,0,1.07972,1.07934,0
12,2023-01-19 00:17:00,1.07963,1.07972,1.07959,1.07964,33.82,0,1.07972,1.07934,0
13,2023-01-19 00:18:00,1.07966,1.07973,1.07960,1.07966,36.20,0,1.07972,1.07934,0
14,2023-01-19 00:19:00,1.07966,1.07967,1.07949,1.07955,43.72,0,1.07972,1.07934,0
15,2023-01-19 00:20:00,1.07958,1.07967,1.07951,1.07952,36.54,1,1.07973,1.07949,0
16,2023-01-19 00:21:00,1.07951,1.07951,1.07939,1.07946,44.86,0,1.07973,1.07949,1
17,2023-01-19 00:22:00,1.07946,1.07946,1.07926,1.07926,36.22,0,1.07973,1.07949,1
18,2023-01-19 00:23:00,1.07925,1.07927,1.07907,1.07915,57.46,0,1.07973,1.07949,1
19,2023-01-19 00:24:00,1.07915,1.07920,1.07914,1.07919,57.44,0,1.07973,1.07949,1
20,2023-01-19 00:25:00,1.07918,1.07927,1.07908,1.07908,72.89,1,1.07967,1.07907,0
21,2023-01-19 00:26:00,1.07907,1.07914,1.07898,1.07912,74.69,0,1.07967,1.07907,0
22,2023-01-19 00:27:00,1.07912,1.07919,1.07904,1.07919,64.24,0,1.07967,1.07907,0
23,2023-01-19 00:28:00,1.07920,1.07925,1.07920,1.07923,25.51,0,1.07967,1.07907,0
24,2023-01-19 00:29:00,1.07922,1.07938,1.07918,1.07938,55.01,0,1.07967,1.07907,0
25,2023-01-19 00:30:00,1.07939,1.07939,1.07912,1.07933,172.40,1,1.07938,1.07898,0
26,2023-01-19 00:31:00,1.07932,1.07952,1.07929,1.07951,227.61,0,1.07938,1.07898,2
27,2023-01-19 00:32:00,1.07952,1.07964,1.07951,1.07964,81.01,0,1.07938,1.07898,2
28,2023-01-19 00:33:00,1.07965,1.07967,1.07954,1.07961,87.14,0,1.07938,1.07898,2
29,2023-01-19 00:34:00,1.07960,1.07960,1.07939,1.07946,82.74,0,1.07938,1.07898,2
30,2023-01-19 00:35:00,1.07949,1.07965,1.07944,1.07944,107.48,1,1.07967,1.07912,0
31,2023-01-19 00:36:00,1.07944,1.07945,1.07937,1.07944,84.30,0,1.07967,1.07912,0
32,2023-01-19 00:37:00,1.07943,1.07948,1.07932,1.07932,100.60,0,1.07967,1.07912,0
33,2023-01-19 00:38:00,1.07930,1.07932,1.07918,1.07927,115.57,0,1.07967,1.07912,0
34,2023-01-19 00:39:00,1.07930,1.07933,1.07905,1.07909,92.13,0,1.07967,1.07912,1
35,2023-01-19 00:40:00,1.07908,1.07913,1.07889,1.07911,79.56,1,1.07965,1.07905,0
36,2023-01-19 00:41:00,1.07912,1.07920,1.07900,1.07917,75.91,0,1.07965,1.07905,0
37,2023-01-19 00:42:00,1.07916,1.07933,1.07910,1.07933,64.19,0,1.07965,1.07905,0
38,2023-01-19 00:43:00,1.07933,1.07938,1.07923,1.07930,186.33,0,1.07965,1.07905,0
39,2023-01-19 00:44:00,1.07932,1.07933,1.07913,1.07915,176.92,0,1.07965,1.07905,0